<link rel="stylesheet" href="/css/header.css">


    <h2 id="app-heading"> <a href="/">The Authenticator </a></h2>

<% if (locals.user){%>
    <ul>
    <h6>
       <a class="log_out" href="/users/destroy-session">Logout</a>
    </h6>
   <% }else{ %>
       
        
<ul id="page_links">
    <li>
   <a href="/users/sign-in"> Sign in</a>
    </li>
    <li>
        <a href="/users/sign-up">Sign up</a>
    </li>
    <li>
        <a href="/users/forgot-password"> Forgot Password?</a>
    </li>
</ul>
    <% } %>