<link rel="stylesheet" href="/css/header.css">
<ul>
    <% if (locals.user){%>
         <h6>
            <a href="/users/destroy-session">Logout</a>
         </h6>
        <% }else{ %>
            <h6>Header</h6>
            <% } %>
</ul>