<link rel="stylesheet" href="/css/header.css">
<ul>
    <h2 id="app-heading"> <a href="/">The Authenticator </a></h2>
</ul>

<% if (locals.user){%>
    <ul>
    <h6>
       <a href="/users/destroy-session">Logout</a>
    </h6>
   <% }else{ %>
       
        
<ul id="page_links">
    <li>
   <a href="/users/sign-in"> <h3>Sign in</h3></a>
    </li>
    <li>
        <a href="/users/sign-up"><h3>Sign up</h3></a>
    </li>
    <li>
        <a href="/users/forgot-password"> <h3>Forgot Password?</h3></a>
    </li>
</ul>
    <% } %>