<link rel="stylesheet" href="/css/new_password.css">
<form class="new_password_form" action="/users/reset-password/<%= token.accessToken %>" method="post">
<label for="new_password">Type new password: </label>

    <input type="password" name="new_password">
    <label for="confirm_new_password">Confirm you password: </label>
<input type="password" name="confirm_new_password">
<input type="submit" value="Update Password">
</form>