<link rel="stylesheet" href="/css/forgot_password.css">
<form class="forgot_password_form" action="/users/account-recovery" method="post">
    <h1>Forgot Password!</h1>
    <div class="input-con">
        <label for="email">Email:</label>
    <input name="reset_mail"type="email" placeholder="Please Enter your email"  true>
    </div>
    <input type="submit">

</form>