<link rel="stylesheet" href="/css/home.css">
<h1 class="home_heading">
    Welcome to the Authanticator
    
</h1>
<h3 class="component_disc_head">Powerd by nodeJs <br>
    Designed using passportJs
</h3>
<br>
<br>
<div class="member_card_container">
    <span class="member_card">
    <h2>
        Already a member?
    </h2>
    <button class="sign_in_button" onclick="location.href='/users/sign-in'">Sign In</button>
    </span>
    <span class="not_a_member_card">
        <h2>Not a member yet?</h2>
        <button class="sign_up_button" onclick="location.href='/users/sign-up'">Sign Up</button>
    </span>

</div>


</p>