<link rel="stylesheet" href="/css/home.css">


<div class="container">
<h1 class="home_heading">
    Welcome to the Authenticator
</h1>
<h3 class="component_disc_head">Powerd by nodeJs <br>
    Designed using passportJs
</h3>

<div class="member_card_container">
    <div class="member_card">
        <h2>
            Already a member?
        </h2>
        <button class="sign_in_button" onclick="location.href='/users/sign-in'">Sign In</button>
    </div>
    <div class="not_a_member_card">
        <h2>Not a member yet?</h2>
        <button class="sign_up_button" onclick="location.href='/users/sign-up'">Sign Up</button>
    </div>
</div>
</div>


