<form action="/users/create" method="post">
    <input type="text" name="name" placeholder="Type in your name">
    <input type="email" name="email" placeholder="Type in your email">
    <input type="password" name="password" placeholder="type in your password">
    <input type="password" name="confirm_password" placeholder="Confirm your password">
    <input type="submit" value="Sign Up!">

</form>
<a class="button google" href="/users/auth/google">Sign In/Sign Up with Google</a>
