<link rel="stylesheet" href="/css/sign_up.css">
<form class="sign_up_form" action="/users/create" method="post">
    <input type="text" name="name" placeholder="Type in your name">
    <input type="email" name="email" placeholder="Type in your email">
    <input type="password" name="password" placeholder="type in your password">
    <input type="password" name="confirm_password" placeholder="Confirm your password">
    <input type="submit" value="Sign Up!">

</form>
<button class="button_google" onclick="location.href='/users/auth/google'">Sign In with Google</button>
