<h1>
    Please make your way in!
</h1>
<form action="/users/create-session" method="post">
<input type="email" name="email" placeholder="type in your email @ domain.com" required >
<input type="password" name="password" placeholder="Type your password..." required>

<button type="submit"> Sign In</button>
</form>
