
.forgot_password_form{
    background-color: rgb(29, 29, 29, 0.4);
    padding: 20px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid rgb(26, 143, 238);
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.forgot_password_form h1{
    color: rgb(222, 222, 222);
}
.input-con{
    display: flex;
    align-items: center;
}
input{width: 100%;}
.input-con label{
    color: rgb(214, 214, 214);
    text-align: start;
    margin-right: 20px;
}