header{
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    height: 100px;
    
}
#app-heading{
    color:whitesmoke
}
#app-heading a {
    text-decoration: none;
    color:whitesmoke;
    cursor: pointer;
    
}
#page_links{

    list-style: none;
    display: flex;
    justify-content: space-between;
}
#page_links li{
    margin-left: 10px;
}
.log_out{
    text-decoration: none;
    font-size: medium;
    color:white
}
#page_links li a h3{
    
    color:white;
}
#page_links li a{
    text-decoration: none;
}