header{
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    
}
#app-heading{
    color:whitesmoke
}
#app-heading a {
    text-decoration: none;
    color:whitesmoke;
    cursor: pointer;
}
#page_links{

    list-style: none;
    display: flex;
    justify-content: space-between;
}
#page_links li{
    margin-left: 10px;
}
