body{
    /* background-color: black; */
    text-align: center;
}
.button_google{
    background-color: #4285F4;
    color:white;
    border:none;
    width: 70px;
    height: 70px;
    text-align: center;
    margin-top: 25px;
}
.sign_in_form{
    display: flex;
    flex-direction: column;
    gap:20px;
    width:300px;
    padding: 20px;
    margin: auto;
}
.greet_heading{
    color:white
}
