.sign_up_form{
    background-color: rgb(29, 29, 29, 0.4);
    padding: 20px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid rgb(26, 143, 238);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sign_up_form h1{
    color: rgb(29, 161, 255);
}

.button_google{
    background-color: #4285F4;
    color:white;
    border:none;
    padding: 10px;
    border-radius: 8px;
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-container label{
    color: rgb(214, 214, 214);
    text-align: start;
}

input[type='submit']{
    background-color: rgb(110, 110, 110);
    color: white;
    cursor: pointer;
}
.or{
    text-align: center;
    color: white;
}
