<p>
    We received an account recovery request on The Authenticatior for <%= token.user.email %>.
This email address is associated with an account but no password is associated with it yet, so it can’t be used to log in.

If you initiated this request, <a href="http://localhost:7000/users/reset-password/<%=token.accessToken%>">set a Password here</a>
</p>